<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!processos"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="processos">
  <thead>
    <tr>
      <th>Número do Processo</th>
      <th>Data de Criação do Processo</th>
      <th>Valor</th>
      <th>Escritorio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let processo of processos">
      <td>{{ processo.numeroDoProcesso }}</td>
      <td>{{ processo.dataDeCriacaoDoProcesso }}</td>
      <td>{{ processo.valor }}</td>
      <td>{{ processo.escritorio }}</td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="mostrarGrafico()">Visualizar Gráfico</button>